# This is a good thing to have but it is entirely optional.
# Feel Free to delete it.
FileETag MTime Size

RewriteEngine on

<IfModule mod_rewrite.c>
	# you need to change this to the folder you're running tgsf under.
	# it's ok for it to simply be /
	RewriteBase /tgsf
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	#you need to change this to the folder you're running tgsf under.
	# it's ok for it to be RewriteRule . /index.php [L]
	RewriteRule . /tgsf/index.php [L]
</IfModule>

