table.grid
{
	color #333;
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0em 1em .5em 0em;
	width: 99%;
	min-width: 99%;
}

table.grid th
{
	font-weight: bold;
	padding: 0 .5em;

	background-color: #eee;
}

table.grid td, table.grid th,
table.grid td+td, table.grid th+th
{
	border-left: 1px solid #ccc;
}

table.grid thead th
{
	
	padding: 0.1em 0.25em;
}

table.grid td
{
	background-color: white;
	padding: 0.1em 0.25em;
}

table.grid tbody tr:hover td,
table.grid tbody tr.alt:hover td
{
	background-color: #ddffdd;
}

table.grid tbody tr:hover th,
table.grid tbody tr.alt:hover th
{
	background-color: #cceecc;
}

table.grid tr.alt td
{
	background-color: #f3f3f3;
}

table.grid th.sm,
table.grid td.sm
{
	width: 0;
}

table.grid tbody tr.group-header
{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table.grid tbody tr.group-header th
{
	padding-top: .5em;
}

table.grid tr.group-footer th
{
	padding-bottom: 1em;
}

table.grid tbody tr.grouplevel1 td
{
	padding-left: 1em;
}

/* report tables below */
div.report_container table thead.report_header th
{
	border: 1px solid #ccc;
	background-color: #333;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}
table.report-grid
{
	margin: 0px;
}


div.report_container table thead tr th p
{
	text-align: center;
	margin: 0 !important;
}


div.report_container table.report_container th.report-date
{
	text-align: right;
}

table.report-grid
{
	width: 100%;
}
