
# ETags are a good thing to have
FileETag MTime Size

php_flag magic_quotes_gpc off
php_flag display_errors on

Options -Indexes
RewriteEngine on

<IfModule mod_rewrite.c>
	RewriteCond %{REQUEST_URI} \.php$
	RewriteCond %{REQUEST_FILENAME} -d	[NC]
	RewriteRule . index.php			[forbidden]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule . index.php [L]
</IfModule>
