<?php if ( ! defined('BASEPATH')) exit('No direct script access allowed');
/*
This code is copyright 2009 by TMLA INC.  ALL RIGHTS RESERVED.
Please view license.txt in /tgsf_core/legal/license.txt or
http://tgWebSolutions.com/opensource/tgsf/license.txt
for complete licensing information.
*/

// rename this file to db.php and make your necessary changes to it.

load_database_libraries();

// example of how to use different databases depending on host
// if ( current_host() == 'example.com' )
// {
// 	dbm()->useSetup( new dbSetup( 'user', 'password', 'database' ) );
// }
// else
// {
// 	dbm()->useSetup( new dbSetup( 'root', 'password2', 'different-database' ) );
// }

//dbm()->useSetup( new dbSetup( 'username', 'password', 'example-database' ) );
//dbm()->addSetup( new dbSetup( 'username', 'password', 'database-2' ), 'database2' );