/* visual */
a
{
	color: #146CBB;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.clearboth
{
	display: block;
	clear: both;
	height: 0px;
	width: 1px;
}



#page_body h2
{
	font-size: 1.8em;
}

/*

.page-login
{
	background-color: black;
}

#login-box
{
	background-color: #ccf;
	margin: auto;
	width: 285px;
	border: 1px solid #888;
	padding: 10px;
}*/
