body
{
	font-family: "Gill Sans", arial, sans-serif;
    font-size: 1em;
}

#head-bar
{
	line-height: 25px;
	font-size: 18pt;
/*	background-color: #1A4C7A;*/
	background-color: #ddd;
	color: #333;
	padding: 10px;
}

#dashboard-title
{
	float: left;
}

#version, #user-info
{
	float: right;
	font-size: 14pt;
	margin-left: 10px;
}

#page_body
{
	margin-left: 265px;
	border-left: 1px solid #ccc;
	padding-left: 10px;
}

#left-nav
{
	float: left;
	width: 250px;
}
